<nav>
    <div class="site-title">
      <a href="/"><h1>Blogs</h1></a>
      <p>"Crafting Stories, Sharing Knowledge, Empowering Readers."</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">New Blogs</a></li>
    </ul>
  </nav>

  <script>
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll('nav a');
  
    navLinks.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.style.color = 'black'; 
    }
  });


  </script>